<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectar WhatsApp</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    {{ template "header" dict "Title" "QR Code" }}
    <div class="bg-white rounded-lg shadow-md p-6 mx-auto mt-20 max-w-md">
        {{ template "qrcode.html" . }}
    </div>
    {{ template "footer" }}
</body>
</html>